##macOS system files filter
.DS_Store
**/.DS_Store
.gitignore

##VS Code configuration files filter
.vscode

##Private API keys filter
.webui_secret_key

###Python files filter
test.py
Python\ Learning/